.sjddf-glowing-border
{
    /*border-radius: 7px;*/
    /*outline: none;*/
    /*border-color: #9ecaed;*/
    /*box-shadow: 0 0 10px #9ecaed !important;*/
    border: 2px dashed #cccccc !important;
    /*border-radius: 4px;*/
}

.sjddf-hidden-border
{
    outline: none !important;
    /*border: none !important;*/
    border-color: transparent !important;
}

.sjddf-drop-overlay
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*background-color: #9ecaed;*/
    /*opacity:0.5;*/
    pointer-events: none;
    text-align: center;
}

.sjddf-overlay
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 2px 2px 2px 2px;
    background-color: #CCCCD3;
    pointer-events: none;
}

.sjddf-overlay-text
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 20px;
    margin-top: -10px;
    color: #CCCCD3;
    font-size: 12pt;
    font-weight: bold;
    /*text-shadow: 0 1px rgba(0,0,0,0.25);*/
    /*text-transform: uppercase;*/
}

.sjddf-overlay-spinner-container
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    height: 20px;
    margin-top: 10px;
    color: #ccccd3;
    font-size: 12pt;
    font-weight: bold;
}

/*.overlay-text:after*/
/*{*/
    /*content: "!!!";*/
/*}*/

.sjddf-loading {
    display: inline-block;
    font-size: 0;
    position: relative;
}

.sjddf-loading > .sjddf-loading-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.sjddf-solid-border
{
    /*border-radius: 7px;*/
    /*outline: none;*/
    /*border-color: #9ecaed;*/
    /*box-shadow: 0 0 10px #9ecaed !important;*/
    border: 2px #cccccc !important;
    /*border-radius: 4px;*/
}
